
$fontGeneralColor: #5f5f5f;
$fontBlueColor: #08c;
$font45Color: #454545;
$fontBBColor: #bbbbbb;
$fontRedColor: #f5222d;

$borderGeneralColor: #ebedf0;
$borderE8Color: #e8e8e8;

$editorBgColor:#f6f8fa;