
@import '../../styles/mix.scss';
.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  #loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 102;
    width: 50%;
    background: white;
    border: 1px solid $borderE8Color;
    box-shadow: 0px 0px 2px 1px $borderGeneralColor;
    padding: 20px 20px 0;
    transform: translate(-50%,-50%);
  }
  .login-form {
    .login-form__error {
      color: $fontRedColor;
      margin-bottom: 6px;
    }
    .login-form__avator {
      text-align: center;
      margin-bottom: 15px;
    }
    .login-form__button {
      width: 100%;
    }
    .login-form__minibutton {
      font-size: 12px;
      float: right;
    }
  }
}